
<!--<div class="container">-->
<!--    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">-->
<!--        <div class="col-md-4 d-flex align-items-center">-->
<!--            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">-->
<!--                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>-->
<!--            </a>-->
<!--            <span class="text-muted">© 2022 Asliddin, Inc</span>-->
<!--        </div>-->

<!--&lt;!&ndash;        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">&ndash;&gt;-->

<!--&lt;!&ndash;        </ul>&ndash;&gt;-->
<!--    </footer>-->
<!--</div>-->

<div class="container " >
    <footer class="py-3 my-4 border-top">
        <h2 style="text-align:center; margin-top:14px; color: grey">Stay in Touch</h2>

        <ul class="nav justify-content-center pb-3 mb-3">

<!--            <ul class="social mb-0 list-inline mt-3"  style="padding:  1rem 0">-->
                <li style="margin-top:32px" class="list-inline-item"><a href="https://t.me/eshonkulov_asliddin"  class="btn btn-outline-primary btn-lg px-4 me-md-2" target="_blank"><i class="fa fa-telegram fas-fa-circle"></i></a></li>
                <li style="margin-top:32px" class="list-inline-item"><a href="https://github.com/asliddin2002developer" class="btn btn-outline-secondary btn-lg px-4 me-md-2" target="_blank"><i class="fa fa-github"></i></a></li>
                <li style="margin-top:32px" class="list-inline-item"><a href="https://www.linkedin.com/in/asliddin-eshonkulov-developerr/" class="btn btn-outline-primary btn-lg px-4 me-md-2" target="_blank"><i class="fa fa-linkedin"></i></a></li>
<!--            </ul>-->
        </ul>
        <p class="text-center text-muted" style="margin-bottom: -1.2rem">© 2022 asldev.uz</p>
    </footer>
</div>


